* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

#local {
  box-sizing: border-box;
  width: 1120px;
  height: 3823px;
  margin: 88px auto 137px;
}

main {
  width: 1120px;
  height: 3823px;
}

#container {
  background-color: blue;
  width: 1120px;
  height: 3823px;
}

headline {
  color: #e1624f;
  font-size: 16px;
  font-weight: bold;
  margin-top: 64px;
}

h1 {
  color: #1b1b1b;
  font-size: 36px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 40px;
}

img {
  border-radius: 28px;
}

h4 {
  color: #333333;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 40px;
}

h2 {
  color: #1b1b1b;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 8px;
}

p {
  color: #333333;
  font-size: 16px;
  font-weight: normal;
}

.spaced-paragraph {
  font-size: 16px;
  margin-bottom: 64px;
}

#divisor1 {
  width: 100%;
  border-top: 1px solid #d9d9d9;
  margin: 40px auto 64px;
}

.paragrafo-color {
  color: #0c51a7;
  font-weight: bold;
  margin-bottom: 48px;
}

.paragrafo-color2 {
  color: #591b98;
  font-weight: bold;
}

.paragrafo-color3 {
  color: #e5245e;
  font-weight: bold;
}

.paragrafo-color4 {
  color: #e95e10;
  font-weight: bold;
}

.texto {
  color: #333333;
  font-size: 16px;
  font-weight: normal;
  margin-top: 64px;
  margin-bottom: 64px;
}

p #espace-divs {
  margin-top: 64px;
  margin-bottom: 64px;
}

ol::before {
  content: counter(item) ". ";
  counter-increment: item;
  color: #1b1b1b;
  font-size: 32px;
  font-weight: bold;
}

h3 {
  color: #1b1b1b;
  font-size: 32px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 4px;
}

#divisor2 {
  width: 100%;
  border-top: 1px solid #d9d9d9;
  margin: 40px auto 40px;
}
